<div class="container">
  
  <div>
    <h3>How to Use?</h3>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="./assets/img/Howto/Step-1.png" alt="Step-1" style="width:100%;">
        </div>

        <div class="item">
          <img src="./assets/img/Howto/Step-2.png" alt="Step-2" style="width:100%;">


        </div>
        <div class="item">
          <img src="./assets/img/Howto/Step-3.png" alt="Step-3" style="width:100%;">


        </div>
        <div class="item">
          <img src="./assets/img/Howto/Step-4.png" alt="Step-4" style="width:100%;">


        </div>

      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <br>
    <br>
  </div>
<br>
  <div style="text-align: left">
      <h3>Important Notes for reading validation report.....</h3>
      <p style="font-size:15px">
       <b>></b> In the report an Object will be denoted as (O), Array will be denoted as [A]
        <br>
       <b>Example:</b> 
      </p>
      <img width= "30%"src="./assets/img/Howto/example.PNG">
      <p style="font-size:15px"><b>> Type mismatches</b> - are the list of fields that might have the wrong type returned in response, as per Swagger specification.</p>
      <p style="font-size:15px"><b>> Missing mandatory fields </b>- are the list of fields defined as mandatory in Swagger specification, but missing in JSON response given.</p>
      <p style="font-size:15px"><b>> Fields Missing in Response </b>- are the list of elements that are defined in Swagger specification, but JSON response is missing.</p>
      <p style="font-size:15px"><b>> Fields Missing in Swagger</b>- are the list of elements that are in JSON response, but missing in Swagger specification.</p>
      <p style="font-size:15px"><b>> Hard to notice issues </b>- Report catches spell mistakes, misplaced object for array or misplaced array for object.</p>
    </div>
  </div>
  <br>
  <br>